/*#region common*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
}
body{
  font-family:  'Open Sans', sans-serif;
  background-color: rgba(238, 124, 241, 0.596);
}


/*#endregion common*/
.container{
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  
}